language: node_js
sudo: false

node_js:
  - "0.10"
  - "0.12"
  - "iojs"
  - "4"
  - "6"

env:
  - V_REQUEST=2.34.0
  - V_REQUEST=latest

before_script:
  - npm uninstall request
  - npm install request@$V_REQUEST
